body{
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000000;
    font-family: 'Roboto', sans-serif;
    color: #ecf0f1;
    }
.clock{
    display: flex;
    position: absolute;
    font-size: 5rem;
    background: #de0404;
    border: 1px solid #ecf0f1;
    border-radius: 10px;
    padding: 20px 20px;
    box-shadow: 0 10px 20px rgba(255, 0, 0, 0.882);
    /* display: inline-block; */
    top: 40%;
    background: linear-gradient(to top left, #de0404 , #34495e);
}

@keyframes blink {
    0%, 100% {
        opacity: 5;
    }
    40% {
        opacity: 0;
    }
}
.clock:hover {
    transform: scale(1.1);
    box-shadow: 0 15px 30px #de0404;
}